.footer{
    text-align:center;
    font-size:0.7rem;
}
.footer__logo{
    width:11.25em;
}
.footer__list-social-medias{
    display:flex;
    justify-content:center;
}
.footer__item-social-medias{
    width:2.62em;
}
.footer__item-social-medias img{
    width:100%;
}
.footer__title{
    font-size:1.45em;
    font-weight:bold;
    text-transform:uppercase;
}
.footer__item-list{
    font-weight:500;
}